set bell-style none
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
set keyseq-timeout 30
# set show-all-if-ambiguous on
# set show-all-if-unmodified on
"\e[A": history-substring-search-backward
"\e[B": history-substring-search-forward
